@import "tailwindcss";

@theme {
  --color-void: #050308;
  --color-midnight: #0B0920;
  --color-orchid: #A42198;
  --color-magenta: #E41A94;
  --color-electric: #17DAF1;
  --color-silver: #A1A1AA;
  --container-9xl: 100rem;
}

html {
  scroll-behavior: smooth;
}